<div style="padding-top: 25px">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">New Book</h3></td><td style="allign: right">
		</div>
		<div class="panel-body">
			<form class="form-horizontal ng-pristine ng-invalid ng-invalid-required" role="form" ng-submit="createNewBook()">
				<div>
					<label>Book Name</label>
					<div>
						<input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" name="name" ng-model="name" required="">
					</div>
				</div>
				<div>
					<label>Author</label>
					<div>
						<input type="text" class="form-control ng-pristine ng-valid" name="author" ng-model="author">
					</div>
				</div>
				<div>
					<label>Publication Year</label>
					<div>
						<input type="text" class="form-control ng-pristine ng-valid" name="publicationYear" ng-model="publicationYear">
					</div>
				</div>
				<div>
					<div style="padding-left: 5px; padding-top: 5px">
						<input type="submit" value="Submit" class="btn btn-primary">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>